.card{
    border: 1px solid black;
    box-shadow: 0 0 5px black;
    width: 250px;
    margin: 20px;
}

.card-image img{
    width: 249px;
}

.card-title,
.description{
    text-align: center;
    margin: 0;
    padding: 10px;
}

.description{
    font-size: 12px;
}

.home-cards{
    width: 93%;
    text-align: center;
    margin-left: 3%;
}

.home-cards > .card{
    display: inline-block;
}